# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Virtual environment
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# OS files
.DS_Store

# IDE files
.vscode/
.idea/

combined/
example_data/

*.combined/
*.example_data/